.home-page {
  text-align: center;
  padding-top: 20px;
}

.home-page h1 {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 600;
}

.back-btn {
  width: 100%;
  padding: 12px;
  background: #444;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.back-btn:hover {
  background: #222;
}

.app-container {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}
